{{ form_start(form, {'attr': {'enctype': "multipart/form-data" } }) }}

<div class="form-group">
    {{ form_row(form.firstName,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.lastName,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.street,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.zip,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.city,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.country,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.phoneNumber,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.birthDay,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.email,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.imageFile,{'attr': {'class': 'form-control'} }) }}
</div>

<div class="row">
    <div class="col-md-6 text-right">
        <button type="submit" id="submit-form" class="btn btn-primary">
            Save
        </button>
    </div>
    <div class="col-md-6">
        <a href="{{ path('address_book_list') }}">Back to list</a>
    </div>
</div>
{{ form_end(form) }}
