{% extends 'layout.html.twig' %}

{% block body_content %}

    <div class="row p-2">
        <div class="col-md-6">
            <h2>List</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary" href="{{ path('address_book_new') }}">Create new entry</a>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-12 text-center">
            {% if addressBooks|length %}

                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for msg in flash_messages %}
                        <div class="alert alert-{{ type }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Street</th>
                        <th>Zip</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Birthday</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for addressBook in addressBooks %}
                        <tr>
                            <td>{{ addressBook.firstName }}</td>
                            <td>{{ addressBook.lastName }}</td>
                            <td>{{ addressBook.street }}</td>
                            <td>{{ addressBook.zip }}</td>
                            <td>{{ addressBook.city }}</td>
                            <td>{{ addressBook.country }}</td>
                            <td>
                                {% if addressBook.birthday %}
                                    {{ addressBook.birthday | date('d-m-Y') }}
                                {% endif %}
                            </td>
                            <td>{{ addressBook.email }}</td>
                            <td>
                                <a href="{{ path('address_book_edit',{id: addressBook.id}) }}">Edit</a>
                                <a class="removeContact" href="{{ path('address_book_delete',{id: addressBook.id}) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p>No rows</p>
            {% endif %}
        </div>
    </div>
    <script>
        $('.removeContact').on('click', function (e) {
            e.preventDefault();
            if (confirm('Are you sure?')) {
                location.href = $(this).attr('href');
            }
        });
    </script>
{% endblock body_content %}

