{% extends 'layout.html.twig' %}

{% block body_content %}

    <div class="row p-2">
        <div class="col-md-6">
            <h2>Create new</h2>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6">

            {% include 'AddressBook/_form.html.twig' with {form: form} %}

        </div>
    </div>

{% endblock body_content %}